Django==1.9.7
glob2==0.4.1
Mako==1.0.4
MarkupSafe==0.23
model-mommy==1.2.6
parse==1.6.6
parse-type==0.3.4
py==1.4.31
pytest==2.9.2
pytest-bdd==2.16.1
pytest-django==2.9.1
pytest-mock==1.1
selenium==2.53.5
six==1.10.0
